# Python
__pycache__/
*.py[cod]
*.pkl
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data folders
/data/*
!/data/.gitkeep   # data klasörü görünmeye devam etsin ama içi boş

# Model files
/model/*
!/model/.gitkeep

# Misc
*.zip
*.rar
